torch>=2.0
torchvision>=0.15
transformers>=4.45
huggingface_hub>=0.24
yacs>=0.1.8
fvcore>=0.1.5
iopath>=0.1.10
av>=10.0
opencv-python>=4.8
numpy>=1.23
scipy>=1.10
pandas>=1.5
matplotlib>=3.7
tqdm>=4.65
psutil>=5.9
termcolor>=2.3
simplejson>=3.19
scikit-learn>=1.2
tensorboard>=2.12
fairscale>=0.4.13
wandb>=0.16
